<footer class="footer">
  <div class="footer-container container">
    <div class="footer-nav-container">
      <div class="footer-logo-container">
        <a class="footer-logo" href="./index.html">
          <svg class="footer-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-logo-label"></use>
          </svg>
          <svg class="footer-icon" width="148" height="12">
            <use href="./img/icons.svg#icon-logo-text"></use>
          </svg>
        </a>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-tablet-wrap">
        <div class="footer-nav-wrap">
          <ul class="footer-nav">
            <li class="footer-nav-item">
              <a href="#howitworks">how it works</a>
            </li>
            <li class="footer-nav-item">
              <a href="#vegetables">vegetables</a>
            </li>
            <li class="footer-nav-item"><a href="#reviews">reviews</a></li>
          </ul>
        </div>
        <div class="footer-address-wrap">
          <ul class="footer-address">
            <li class="footer-address-item">
              <a class="footer-address-link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-address-item">
              1678 S. Pioneer Road Salt<br />
              Lake City UT 84104
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <a href="" class="footer-bottom-link">Privacy Policy</a>
      <p class="footer-bottom-text">/</p>
      <a href="" class="footer-bottom-link">Cookie settings</a>
      <p class="copyright">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
