<section class="how-it-works">
    <div class="hiw-container">
    <div class="hiw-bg-container">
    <div class="hiw-img-container">
        <picture>
            <source media="(min-width:1280px)" srcset="../img/how-it-works/how-it-works-desktop.jpg , ../img/how-it-works/how-it-works2x-desktop.jpg ">
            <source media="(min-width:768px)" srcset="../img/how-it-works/how-it-works-tablet.jpg , ../img/how-it-works/how-it-works2x-tablet.jpg ">
            <source media="(min-width: 375px)" srcset="../img/how-it-works/how-it-works-mobile.jpg, ../img/how-it-works/how-it-works2x-mobile.jpg">
            <img class="hiw-img" src="../img/how-it-works/how-it-works-mobile.jpg" srcset="../img/how-it-works/how-it-works2x-mobile.jpg" alt="how-it-works">
        </picture>
    </div>
    </div>
    <div class="hiw-list-container">
        <h3 class="hiw-list-title">To order your <span class="list-span">vegetable</span> basket, simply follow these <span class="list-span">easy steps</span></h3>
        <p class="hiw-list-text">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit
        without ever leaving your home.</p>
        <ol class="hiw-list">
            <li class="hiw-item"><p class="hiw-item-text">Just choose <span class="hiw-item-span">the vegetable</span> you want to order by clicking on the checkboxes <span class="hiw-item-span">next to it.</span></p></li>
            <li class="hiw-item"><p class="hiw-item-text">Click on <span class="hiw-item-span">the basket </span>and fill out the form.</p></li>
            <li class="hiw-item"><p class="hiw-item-text">Sit back and relax! Your <span class="hiw-item-span">fresh vegetables </span>basket will be delivered.</p></li>
        </ol>
    </div>
    </div>
</section>