<section class="vegetables section" id="vegetables">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-dark">vegetables</span>
    </h2>
    <p class="vegetables-subtitle">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="vegetables-wrap">
          <h3 class="vegetables-list-subtitle">eggplant</h3>
          <p class="vegetables-list-text">60 UAH / KG</p>
        </div>
        <img
          class="vegetables-list-img"
          srcset="
            ./img/vegetables/eggplant.png  1x,
            ./img/vegetables/eggplant2.png 2x
          "
          src="./img/vegetables/eggplant.png"
          alt="eggplant"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-wrap">
          <h3 class="vegetables-list-subtitle">leek</h3>
          <p class="vegetables-list-text">50 UAH / KG</p>
        </div>
        <img
          class="vegetables-list-img"
          srcset="
            ./img/vegetables/leek.png  1x,
            ./img/vegetables/leek2.png 2x
          "
          src="./img/vegetables/leek.png"
          alt="leek"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-wrap">
          <h3 class="vegetables-list-subtitle">mashrooms</h3>
          <p class="vegetables-list-text">40 UAH / KG</p>
        </div>
        <img
          class="vegetables-list-img"
          srcset="
            ./img/vegetables/mushrooms.png  1x,
            ./img/vegetables/mushrooms2.png 2x
          "
          src="./img/vegetables/mushrooms.png"
          alt="mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-wrap">
          <h3 class="vegetables-list-subtitle">corn</h3>
          <p class="vegetables-list-text">60 UAH / KG</p>
        </div>
        <img
          class="vegetables-list-img"
          srcset="
            ./img/vegetables/corn.png  1x,
            ./img/vegetables/corn2.png 2x
          "
          src="./img/vegetables/corn.png"
          alt="corn"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-wrap">
          <h3 class="vegetables-list-subtitle">sweet potato</h3>
          <p class="vegetables-list-text">50 UAH / KG</p>
        </div>
        <img
          class="vegetables-list-img"
          srcset="
            ./img/vegetables/potato.png  1x,
            ./img/vegetables/potato2.png 2x
          "
          src="./img/vegetables/potato.png"
          alt="potato"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-wrap">
          <h3 class="vegetables-list-subtitle">carrot</h3>
          <p class="vegetables-list-text">40 UAH / KG</p>
        </div>
        <img
          class="vegetables-list-img"
          srcset="
            ./img/vegetables/carrot.png  1x,
            ./img/vegetables/carrot2.png 2x
          "
          src="./img/vegetables/carrot.png"
          alt="carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
