.hero-section {
    background-color: #576f35;
    background-image: url(/img/hero-section/hero-image-mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100wh;
    height: 91vh;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: url(/img/hero-section/hero-image-mob@2x.jpg);
    }
}

/* .container {
    margin: 0 auto;
    padding: 0 20px;
    min-width: 320px;
    max-width: 375px;
} */

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.00;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    padding-top: 100px;
    margin-bottom: 20px;
}

.hero-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-image: url(/img/hero-section/hero-image-tab@1x.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width: 100wh;
        height: 116vh;
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: url(/img/hero-section/hero-image-tab@2x.jpg);
        }
    }

    /* .container {
        padding: 0 32px;
        min-width: 768px;
    } */

    .hero-title {
        font-weight: 600;
        font-size: 76px;
        line-height: 100%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        padding-top: 122px;
        margin-bottom: 25px;
        width: 704px;
    }

    .hero-description {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        color: #fbfbfb;
        width: 603px;
        padding-right: 101px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        background-image: url(/img/hero-section/hero-image-pc@1x.jpg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 51%;
        width: 100wv;
        height: 100%;
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: url(/img/hero-section/hero-image-pc@2x.jpg);
        }        
    }

    /* .container {
        padding: 0 100px;
        min-width: 1280px;
    } */

    .hero-title {
        padding-top: 238px;
        margin-bottom: 128px;
        width: 502px;
        padding-right: 28px;
    }

    .hero-description {
        padding-bottom: 50px;
        padding-right: 0;
        width: 472px;
    }
}